body {
  max-width: 100vw;
  background-color: #1F2937;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  width: 70%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}

ul li, .hero-p {
  font-size: 18px;
  color: #E5E7EB;
}

button, .bottom .container {
  background-color: #3882F6;
  color: white;
}

.top {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  gap: 64px;
  justify-content: center;
}

.top div, .top img {
  position: relative;
  width: 40%;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.hero-button {
  padding: 8px 32px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

.middle {
  background-color: white;
  color: black;
}

.middle .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.information {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.cards {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 64px;
}

.card {
  position: relative;
  width: 15%;
}

.card img {
  position: relative;
  width: 100%;
  border: 4px solid #3882F6;
  border-radius: 16px;
  overflow: hidden;
}

.quote {
  background-color: #E5E7EB;
  padding-top: 64px;
  padding-bottom: 64px;
}

.quote .container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  margin: 0;
}

.author {
  color: black;
  font-size: 24px;
  align-self: flex-end;
  font-weight: bold;
}

.bottom {
  display: flex;
  background-color: white;
  padding-top: 64px;
  padding-bottom: 64px;
}

.bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 60%;
  padding: 36px 64px;
  border-radius: 16px;
}

.action-button {
  padding: 8px 32px;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 32px;
}